{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="image">
                    <img src="{{ product.image.url }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h5 class="card-title">{{ product.price }} ₽</h5>
                    <a href="#" class="btn btn-primary">Перейти</a>
                    <a href="{% url 'basket' product.id %}" class="btn btn-primary">В корзину</a>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if is_paginated %}
        <nav aria-label="Page navigation example">

            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{% if page_obj.has_previous %}
        ?category_id={{ category.id }}&page={{ page_obj.previous_page_number }}
          # {% endif %}"> Предыдущая
                    </a>
                </li>
                {% for page in paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="
         ?category_id={{ category.id }}&page={{ page }}">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="{% if page_obj.has_next %}
         ?category_id={{ category.id }}&page={{ page_obj.next_page_number }}
        {% else %}
         # {% endif %}">Следующая</a>
            </ul>
        </nav>
        {% endif %}

    </div>
</div>
{% endblock %}