{% extends 'layout/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <div class="box">
        <div>
            <h1>Carniz citi</h1>
            <p>Вчера кушал макароны, завтра кушай асфальт. <br>
                Прогресс не заставит долго ждать!</p>
            <a href="#" type="button" class="btn btn-secondary btn-lg">Large button</a>
        </div>
    </div>
</div>
{% endblock %}